{% extends 'base.html' %}
{% load i18n %}
{% block title %}
Yurt Horizon
{% endblock %}
{% load static %}
{% block content %}
  <div class="page-img" style="background-image: url('{{ about.image_about.url }}'); padding-top: 200px;">
    <div class="main-title">
      <h1>We Make Best of every trip</h1>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
  </div>


  <div class="container">
<!--    <div class="section row">-->

<!--      <div class="col-sm-6">-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus rerum, pariatur doloremque ipsam cum nesciunt cumque vel hic, tempora fugiat praesentium tenetur obcaecati, enim, ducimus aliquid in unde magni nisi? Non, blanditiis.-->
<!--          Labore dolor porro doloribus vel quod fugiat dignissimos, quae molestias necessitatibus atque. Dicta nemo obcaecati non quod perferendis necessitatibus repellat harum, cupiditate ducimus quam culpa facere beatae!</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolorem modi temporibus alias magnam amet neque fugit corporis deleniti, eius. Fuga labore blanditiis mollitia, asperiores impedit quae voluptas nemo ullamorem ipsum dolor sit amet,-->
<!--          consectetur adipisicing elit. Repellat unde minima quas dolore placeat sit vero magni eligendi, magnam officia quibusdam, itaque dolor reiciendis minus, ex id velit aperiam. Omnis quasi unde ex voluptatum ipsum incidunt eum praesentium cumque-->
<!--          assumenda.-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <img src="{% static 'assets/img/about1.jpg' %}" alt="" style="background-repeat: no-repeat;-->
<!--background-position: center;-->
<!--background-size: contain; /* Changed to contain to fit within the bounds */-->
<!--max-height: 400px; /* Added a maximum height to make it medium */-->
<!--width: auto; /* Maintain aspect ratio */-->
<!--display: block; /* Prevent extra space below the image */-->
<!--margin: 0 auto; /* Center the image within the column */-->
<!--">-->


<!--      </div>-->
<!--    </div>-->

  </div>
<div class="flex-row bg-base" style="background: #ffffff;
    color: rgb(0 0 0 / 70%);">
    <div class="flex-col-6 cover-bg-img" style="background-image: url('/static/assets/img/about2.jpg');"></div>
    <div class="flex-col-6">
      <div class="padding-100">
        <div class="main-title left">
          <h2>About  <br> Yurt Horizon</h2>
          <p>More than travel. A journey into the soul of Kyrgyzstan.</p>
        </div>
        <div class="row">
          <div class="col-sm-6">At Yurt Horizon, we don’t just organize tours — we craft life-changing experiences across Kyrgyzstan’s untouched landscapes. Our passion lies in connecting travelers with the deep-rooted traditions, raw beauty, and nomadic warmth of this ancient land.</div>
          <div class="col-sm-6">Founded by locals, driven by heart, and committed to excellence, we believe in slow travel, real encounters, and unforgettable memories. From shimmering alpine lakes and yurt stays to eagle hunting shows and mountain dinners — everything we offer is authentic, curated, and deeply personal.</div>
          <div class="col-m-3">Whether you seek solitude in highland silence or adventure on winding passes, our mission is simple:
To make you feel not like a tourist, but like a guest of Kyrgyzstan.</div>
        </div>
        <br>
        <a href="{% url 'trips' %}" class="btn btn-md btn-primary btn-line">Check All Destinations</a>
      </div>
    </div>
  </div>
<div class="flex-row bg-base" style="background: #ffffff;
    color: rgb(0 0 0 / 70%);">

    <div class="flex-col-6">
      <div class="padding-100">
        <div class="main-title left">
          <h2>Our Story</h2>
          <p>Born from the mountains. Built with love. Guided by purpose.</p>
        </div>
        <div class="row">
          <div class="col-sm">Yurt Horizon began as a dream shared by two lifelong friends — Azat and Nurbek — who grew up with the rhythm of the mountains in their hearts. One had the vision, the other had the drive, and both were united by a deep love for their land.
            <br>What started as a simple idea — to show travelers the true Kyrgyzstan — became a mission to create something rare:</div>
          <br>
          <div class="col-sm-6">A tour company that feels like family.
A journey that feels like home.
An experience that stays with you long after the road ends.
            <br>Every route we design, every guest we welcome, every story we share — is a reflection of who we are: honest, warm, rooted in tradition, and always striving for excellence.
</div>
          <div class="col-sm-6">
This is not just a business.
This is our calling.
And we’re honored to walk this path with you.</div>
        </div>
        <br>
        <a href="" class="btn btn-md btn-primary btn-line">Check All Destinations</a>
      </div>
    </div>
  <div class="flex-col-6 cover-bg-img" style="background-image: url('/static/assets/img/about3.jpg');"></div>
  </div>
<br>
<br>
<br>
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, hic! Tenetur voluptates ducimus velit cupiditate quam maxime illum. Officia consectetur molestiae quo ducimus consequuntur, tenetur sapiente doloribus distinctio suscipit. Maiores!</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, eum? Error enim, vel eaque reiciendis culpa numquam iusto sapiente incidunt sit nesciunt, sequi quae ullam. Nobis ut eaque reiciendis velit, ab, doloremque nostrum impedit laborum-->
<!--          quis reprehenderit non nesciunt qui earum adipisci officia ullam aliquam commodi neque! Ipsa, dolores, qui!</p>-->

<!--        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sed laboriosam culpa, dolorum, pariatur aspernatur!</blockquote>-->

  <div class="container">
    <div class="row">
      <div class="steps">
        <div class="col-sm-3 step-module first wp-1 delay-0">
          <div class="index"><span class="icon-island"></span>
          </div>
          <h4>Holiday Planning</h4>
        </div>
        <div class="col-sm-3 step-module wp-1 delay-1">
          <div class="index"><span class="icon-door-tag"></span>
          </div>
          <h4>Hotel Booking</h4>
        </div>
        <div class="col-sm-3 step-module wp-1 delay-2">
          <div class="index"><span class="icon-hiking"></span>
          </div>
          <h4>Tour Packages</h4>
        </div>
        <div class="col-sm-3 step-module last wp-1 delay-3">
          <div class="index"><span class="icon-plane"></span>
          </div>
          <h4>Air Ticketing</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="banner base">
    <div class="container">
      <div class="line-box">
        <div class="line-title">Mission</div>
        <h2>Meaningful Travel, Rooted in Soul</h2>
        <p>We believe travel should transform — not just transport.
That’s why we go beyond logistics and create journeys that inspire, connect, and renew.

With Yurt Horizon, you’re not a tourist.
You’re a storyteller.
And Kyrgyzstan becomes part of your story.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, consectetur! Tempore iusto cupiditate sapiente hic dolorum.</p>
        <br>
        <a href="{% url 'contact' %}" class="btn btn-primary btn-lg hvr-sweep-to-right">Book Now</a>
      </div>
    </div>
  </div>


  <section>
    <div class="container">
      <div class="main-title">
        <h2>What clients Say</h2>
        <p>Main Heading that could be used for page title</p>
      </div>
      <div class="row">
        <div class="testimonial boxed">
          {% for i in reviews %}
          <div class="col-sm-4">
            <div>
              <img src="{{ i.image.url }}" alt="" class="avatar">
              <div class="name">{{ i.full_name }}</div>
              <div>{{ i.country }}</div>
              <div class="rating">
                {% for j in "12345" %}
                  {% if j|floatformat:0 <= i.reiting|floatformat:0 %}
                    <span class="icon-star"></span>
                  {% else %}
                    <span class="icon-star-empty"></span>
                  {% endif %}
                {% endfor %}
              </div>
              <p>{{ i.content }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>


{% endblock %}
{% block js %}
<script src="{% static 'assets/js/min/about.min.js' %}"></script>
<script src="{% static 'assets/js/min/step_timeline.min.js' %}"></script>
{% endblock %}
