{% extends 'base.html' %}
{% load i18n %}
{% block title %}
Yurt Horizon
{% endblock %}
{% load static %}
{% block content %}
  <div class="page-img" style="background-image: url('{{ about.image_about.url }}'); padding-top: 200px;">
    <div class="main-title">
      <h1>We Make Best of every trip</h1>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
  </div>


  <div class="container">
<!--    <div class="section row">-->

<!--      <div class="col-sm-6">-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus rerum, pariatur doloremque ipsam cum nesciunt cumque vel hic, tempora fugiat praesentium tenetur obcaecati, enim, ducimus aliquid in unde magni nisi? Non, blanditiis.-->
<!--          Labore dolor porro doloribus vel quod fugiat dignissimos, quae molestias necessitatibus atque. Dicta nemo obcaecati non quod perferendis necessitatibus repellat harum, cupiditate ducimus quam culpa facere beatae!</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolorem modi temporibus alias magnam amet neque fugit corporis deleniti, eius. Fuga labore blanditiis mollitia, asperiores impedit quae voluptas nemo ullamorem ipsum dolor sit amet,-->
<!--          consectetur adipisicing elit. Repellat unde minima quas dolore placeat sit vero magni eligendi, magnam officia quibusdam, itaque dolor reiciendis minus, ex id velit aperiam. Omnis quasi unde ex voluptatum ipsum incidunt eum praesentium cumque-->
<!--          assumenda.-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <img src="{% static 'assets/img/about1.jpg' %}" alt="" style="background-repeat: no-repeat;-->
<!--background-position: center;-->
<!--background-size: contain; /* Changed to contain to fit within the bounds */-->
<!--max-height: 400px; /* Added a maximum height to make it medium */-->
<!--width: auto; /* Maintain aspect ratio */-->
<!--display: block; /* Prevent extra space below the image */-->
<!--margin: 0 auto; /* Center the image within the column */-->
<!--">-->


<!--      </div>-->
<!--    </div>-->

  </div>
<div class="flex-row bg-base" style="background: #ffffff;
    color: rgb(0 0 0 / 70%);">
    <div class="flex-col-6 cover-bg-img" style="background-image: url('/static/assets/img/about2.jpg');"></div>
    <div class="flex-col-6">
      <div class="padding-100">
        <div class="main-title left">
          <h2>Explore World <br> Beyond</h2>
          <p>Consectetur adipisicing elit. Quisquam fugit ducimus, qui molestias.</p>
        </div>
        <div class="row">
          <div class="col-sm-6">Esse iusto quibusdam quae assumenda dignissimos eligendi magni dolor error sunt corporis laborum maiores. At ad, ratione delectus inventore voluptas cum nulla molestias perferendis iste quis laborum veniam reprehenderit ipsam vitae, corrupti.
            Cumque enim, unde eveniet.</div>
          <div class="col-sm-6">Asperiores odit error cupiditate nam aperiam animi laborum aliquid. Doloremque, reiciendis perferendis praesentium necessitatibus quis cupiditate. Laborum dicta, ipsa aliquam fugiat!</div>
        </div>
        <br>
        <a href="" class="btn btn-md btn-primary btn-line">Check All Destinations</a>
      </div>
    </div>
  </div>
<div class="flex-row bg-base" style="background: #ffffff;
    color: rgb(0 0 0 / 70%);">

    <div class="flex-col-6">
      <div class="padding-100">
        <div class="main-title left">
          <h2>Explore World <br> Beyond</h2>
          <p>Consectetur adipisicing elit. Quisquam fugit ducimus, qui molestias.</p>
        </div>
        <div class="row">
          <div class="col-sm-6">Esse iusto quibusdam quae assumenda dignissimos eligendi magni dolor error sunt corporis laborum maiores. At ad, ratione delectus inventore voluptas cum nulla molestias perferendis iste quis laborum veniam reprehenderit ipsam vitae, corrupti.
            Cumque enim, unde eveniet.</div>
          <div class="col-sm-6">Asperiores odit error cupiditate nam aperiam animi laborum aliquid. Doloremque, reiciendis perferendis praesentium necessitatibus quis cupiditate. Laborum dicta, ipsa aliquam fugiat!</div>
        </div>
        <br>
        <a href="" class="btn btn-md btn-primary btn-line">Check All Destinations</a>
      </div>
    </div>
  <div class="flex-col-6 cover-bg-img" style="background-image: url('/static/assets/img/about3.jpg');"></div>
  </div>
<br>
<br>
<br>
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, hic! Tenetur voluptates ducimus velit cupiditate quam maxime illum. Officia consectetur molestiae quo ducimus consequuntur, tenetur sapiente doloribus distinctio suscipit. Maiores!</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, eum? Error enim, vel eaque reiciendis culpa numquam iusto sapiente incidunt sit nesciunt, sequi quae ullam. Nobis ut eaque reiciendis velit, ab, doloremque nostrum impedit laborum-->
<!--          quis reprehenderit non nesciunt qui earum adipisci officia ullam aliquam commodi neque! Ipsa, dolores, qui!</p>-->

<!--        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sed laboriosam culpa, dolorum, pariatur aspernatur!</blockquote>-->

  <div class="container">
    <div class="row">
      <div class="steps">
        <div class="col-sm-3 step-module first wp-1 delay-0">
          <div class="index"><span class="icon-island"></span>
          </div>
          <h4>Holiday Planing</h4>
        </div>
        <div class="col-sm-3 step-module wp-1 delay-1">
          <div class="index"><span class="icon-door-tag"></span>
          </div>
          <h4>Hotel Booking</h4>
        </div>
        <div class="col-sm-3 step-module wp-1 delay-2">
          <div class="index"><span class="icon-hiking"></span>
          </div>
          <h4>Tour Package</h4>
        </div>
        <div class="col-sm-3 step-module last wp-1 delay-3">
          <div class="index"><span class="icon-plane"></span>
          </div>
          <h4>Air Ticketing</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="banner base">
    <div class="container">
      <div class="line-box">
        <div class="line-title">Mission</div>
        <h2>Offering The Best for your Holidays</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ullam laboriosam consequuntur, reiciendis dolores expedita facere inventore, deleniti repellendus molestiae minus impedit incidunt dicta quae magnam, omnis nulla eum fugiat est
          sequi itaque in natus ratione aperiam? Animi soluta sit aliquid veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, consectetur! Tempore iusto cupiditate sapiente hic dolorum.</p>
        <br>
        <a href="" class="btn btn-primary btn-lg hvr-sweep-to-right">Book Now</a>
      </div>
    </div>
  </div>


  <section>
    <div class="container">
      <div class="main-title">
        <h2>What clients Say</h2>
        <p>Main Heading that could be used for page title</p>
      </div>
      <div class="row">
        <div class="testimonial boxed">
          <div class="col-sm-4">
            <div>
              <img src="http://placehold.it/120x120" alt="" class="avatar">
              <div class="name">Kim L. Burney</div>
              <div>U.S.A</div>
              <div class="rating">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star-empty"></span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minus maxime atque ea accusamus, delectus consequatur libero non mollitia fugiat!</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <img src="http://placehold.it/120x120" alt="" class="avatar">
              <div class="name">Shing Ch'in</div>
              <div>China</div>
              <div class="rating">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star-empty"></span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minus maxime atque ea accusamus, delectus consequatur libero non mollitia fugiat!</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <img src="http://placehold.it/120x120" alt="" class="avatar">
              <div class="name">Pitez Maltr</div>
              <div>China</div>
              <div class="rating">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star-empty"></span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minus maxime atque ea accusamus, delectus consequatur libero non mollitia fugiat!</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <img src="http://placehold.it/120x120" alt="" class="avatar">
              <div class="name">Pitez Maltr</div>
              <div>China</div>
              <div class="rating">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star-empty"></span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minus maxime atque ea accusamus, delectus consequatur libero non mollitia fugiat!</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <img src="http://placehold.it/120x120" alt="" class="avatar">
              <div class="name">Pitez Maltr</div>
              <div>China</div>
              <div class="rating">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star-empty"></span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minus maxime atque ea accusamus, delectus consequatur libero non mollitia fugiat!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
{% block js %}
<script src="{% static 'assets/js/min/about.min.js' %}"></script>
<script src="{% static 'assets/js/min/step_timeline.min.js' %}"></script>
{% endblock %}
