{% extends 'base.html' %}
{% load i18n %}
{% block title %}
Yurt Horizon
{% endblock %}
{% load static %}
{% block content %}
  <div class="post-single center">
    <div class="page-img" style="background-image: url('{{ news.image.url }}'); padding-top: 200px; ">
      <div class="page-img-txt container">
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <h1 class="main-head">{{ news.title }}</h1>
            <p class="sub-head">{{ news.mini_description }}</p>
<!--            <div class="author-img">-->
<!--              <img src="{{ news.image.url }}" alt="">-->
<!--            </div>-->
            <div class="author">
              <span>By</span>  <a href="#">{{ news.author }}</a>
            </div>
            <p class="byline">
              <span>{{ news.created_at }}</span>
              <span class="dot">·</span>
              <span class="italic">in</span>
              <a href="{% url 'news' %}?category={{ news.category.pk }}">{{ news.category }}</a>
              <span class="dot">·</span>
            </p>
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </div>
    </div>

    <main class="white">
      <div class="container">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="post">
              {{ news.description|safe }}
            </div>
            <div class="tag-wrap">
              <a href="#" rel="tag">blog</a>
              <a href="#" rel="tag">more</a>
              <a href="#" rel="tag">one</a>
              <a href="#" rel="tag">read</a>	
            </div>

            <div class="share-box">
              <h5 class="title">Share this entry</h5>
              <div class="social-icon-wrap">
                <a href="#" class="social-icon"><span class="fa fa-facebook"></span></a>
                <a href="#" class="social-icon"><span class="fa fa-google"></span></a>
                <a href="#" class="social-icon"><span class="fa fa-twitter"></span></a>
                <a href="#" class="social-icon"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </main>
  </div>
{% endblock %}
{% block js %}
  <script src="{% static 'assets/js/min/countnumbers.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}