{% extends 'base.html' %}
{% load i18n %}
{% block title %}
Yurt Horizon
{% endblock %}
{% load static %}
{% block content %}
  <div class="page-img" style="background-image: url('{{ about.image_contact.url }}'); padding-top: 200px; background-size: contain;">
    <div class="main-title">
      <h2>Contact us</h2>
      <p>Get in touch with us</p>
    </div>
  </div>


  <div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="contact-page-2">

        <div class="feature-box">
          <div class="text-center">
            <div class="circle-icon"><span class="icon-locate"></span>
            </div>
            <div class="contact-desc">
              <h4>Bishkek, Chuy, Kyrgyzstan</h4>
              <h4>+996 502 888 001</h4>
              <h4>yurthorizon@gmail.com</h4>
            </div>
          </div>

          <br>
          <hr>
          <br>

          <form method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
              {% endfor %}
            {% endif %}

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Full Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Message</label>
                  <textarea name="message" class="form-control" placeholder="Your Message" required></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary hvr-sweep-to-right">Submit</button>
              </div>
            </div>
          </form>



        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
{% endblock %}
{% block js %}
  <!-- Current Page JS || Ajax Contact -->
  <script src="{% static 'assets/js/contact_mail.js' %}"></script>
{% endblock %}
