{% extends 'base.html' %}
{% load i18n %}
{% block title %}
Yurtland
{% endblock %}
{% load static %}
{% block content %}
  <div class="page-img" style="background-image: url('{{ about.image_review.url }}'); padding-top: 200px;">
    <div class="page-img-txt container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="main-head">Blog List</h1>	
          <p class="sub-head">Blog Listing with Full Image</p>
        </div>
        <div class="colsm-4">
          <ul class="breadcrumb">
            <li><a href="#"><span class="icon-home"></span></a>
            </li>
            <li><a href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <main>
    <section>
    <div class="container">
      <div class="main-title">
        <h1>Testimonials Static</h1>
        <p>Static, No carousel used.</p>
      </div>
      <div class="">
          <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
            {% for i in faq %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading1One">
                <h4 class="panel-title">

									<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1One" aria-expanded="true" aria-controls="collapseOne" class="">

										{{ i.question }}

									</a>

								</h4>
              </div>
              <div id="collapse1One" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="">
                <div class="panel-body">
                  {{ i.answer|safe }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <br>
          <br>

        </div>
  </div></section>
  </main>
{% endblock %}
{% block js %}
  <script src="{% static 'assets/js/min/countnumbers.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}