{% extends 'base.html' %}
{% load i18n %}
{% block meta %}
<meta name="description" content="Discover Kyrgyzstan with Yurt Horizon. Authentic nomadic experiences, yurt stays, breathtaking nature, cultural encounters, and private guided tours in Central Asia." />
<meta name="keywords" content="Kyrgyzstan tours, yurt experience, nomadic life, eco travel, Central Asia, nature, horseback riding, Silk Road, private tours, cultural trips" />
{% endblock %}
{% block title %}
Yurt Horizon – Authentic Kyrgyzstan Tours & Nomadic Adventures
{% endblock %}
{% load static %}
{% block index %}
transparent
{% endblock %}
{% block content %}

  <div class="main-video with-overlay stick-top" style="background-image: url('{% static 'assets/img/das.webp' %}'); ">
    <div class="main-image-txt center-txt">
      <h1 class="main-header">{% trans 'Uncover the Soul of Kyrgyzstan' %}</h1>
      <hr>
      <p class="sub-header">{% trans 'Bespoke journeys through wild mountains, nomadic culture, and untamed freedom. Crafted with heart, for travelers who seek the extraordinary.' %}</p>
      <a href="{% url 'contact' %}" style="    background: #e84130;" class="btn btn-lg btn-primary hvr-sweep-to-right">{% trans 'Plan my trip' %}</a>
    </div>
    <video autoplay="" muted="" loop="">
      <source src="{% static 'assets/back.MOV' %}" type="video/mp4">
        {% trans 'Your browser does not support the video tag.' %}
    </video>
  </div>

  <div class="container">
  <div class="search-bar bottom">
    <div class="col-sm-2 text-wrap">
      <h2 class="main-head">{% trans 'Find' %}</h2>
      <h5 class="sub-head">{% trans 'Your Journey' %}</h5>
    </div>
    <div class="col-sm-8 row">
      <div class="col-sm-12 form-group">
        <p class="lead mb-0">
          {% trans 'Take a short quiz and let us recommend a tour that fits your soul.' %}
        </p>
      </div>
    </div>
    <div class="col-sm-2 d-flex align-items-end">
      <a href="{% url 'quiz_start' 1 %}" class="btn btn-search btn-primary hvr-sweep-to-right w-100">
        {% trans 'Start Quiz' %}
      </a>
    </div>
  </div>
</div>


  <section style="    padding-top: 70px; padding-bottom: 0px;">
    <div class="main-title">
      <h2>{% trans 'Explore Kyrgyzstan' %}</h2>
      {% trans '<p>Where mountains meet tradition, and every path tells a story.</p><br><p>Tucked between the Tien Shan and Pamir ranges, Kyrgyzstan is one of the world’s most mountainous lands. But it’s not just the peaks — it’s the feeling.</p><p>Here, nomadic rhythms still guide the day.</p><p>Horses roam free. Yurts stand in quiet pride.</p><p>And life flows slowly, deeply, and close to the earth.</p><p>This is a place untouched by rush.</p><p>Where beauty is raw, hospitality runs deep, and the soul can breathe.</p>'|safe %}
    </div>

    <div class="container">
      <div class="row  feature-list center">

        {% for i in infoblocks %}
        <div class="col-sm-6 col-md-4">
          <span class="square-icon"><span class="{{ i.icon }}"></span></span>
          <div class="desc">
            <h5>{{ i.title }}</h5>
            <p>{{ i.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>

    <section class="showcase" style="background: url('assets/img/worldmap.png') no-repeat center; background-size: cover; padding-top: 20px;">
    <div class="main-title">
      <h2>Journeys Crafted for the Soul</h2>
      <p>Dive into our most beloved tours — from alpine lakes to nomadic valleys. Each route is designed to reveal the raw beauty and warm soul of Kyrgyzstan. Your journey starts here.</p>
    </div>
    <div class="container">

      <div class="row item">
        {% for i in destinations %}
        <div class="col-sm-6 col-md-6">
          <div class="item-grid">
            <div class="item-img" style="background-image: url('{{ i.image.url }}'); background-size: cover; background-position: center;">
              <div class="item-overlay">
                <a href="{% url 'trip_detail' i.slug %}"><span class="icon-binocular"></span></a>
              </div>
            </div>
            <div class="item-desc">
              <div class="item-info">
                {% if i.level == 'Easy' %}
                <span class="icon-easy"></span>
                {% elif i.level == 'Medium' %}
                <span class="icon-medium"></span>
                {% elif i.level == 'Hard' %}
                <span class="icon-hard"></span>
                {% else %}
                <span class="icon-extreme"></span>
                {% endif %}
                <h4 class="title"><a href="{% url 'trip_detail' i.pk %}">{{ i.title }}</a></h4>
              </div>

              <div class="sub-title">
                <span class="location">{{ i.oblasti }}</span>
                <span class="grade">{{ i.level }}</span>
              </div>

              <div class="item-detail">
                <div class="left">
                  <div class="day"><span class="icon-sun"></span>{{ i.days }}</div>
                  <div class="night"><span class="icon-moon"></span>{{ i.nights }}</div>
                </div>
                <div class="right">
                  <div class="price">{{ i.price }}</div>
                  <a href="{% url 'trip_detail' i.slug %}" class="btn btn-primary hvr-sweep-to-right">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    <div class="" style="text-align: center;">

          <a href="{% url 'trips' %}" class="btn btn-lg btn-primary">More</a>
        </div>
    </div>
  </section>



<div class="flex-row bg-base">
    <div class="flex-col-6 cover-bg-img" style="background-image: url('{% static 'assets/img/bg3.jpg' %}');"></div>
    <div class="flex-col-6">
      <div class="padding-100">
        <div class="main-title left">
          <h2>Explore World <br> Beyond</h2>
          <p>Where wild nature meets timeless tradition</p>
        </div>
        <div class="row">
          <div class="col-sm-6">Step into Kyrgyzstan — a land where snow-capped peaks kiss the sky, and every sunrise begins with the scent of mountain air. Here, ancient nomads still ride free across emerald valleys, and yurt camps glow under a billion stars.</div>
          <div class="col-sm-6">More than just a destination, this is a journey into the soul of Central Asia.
Feel the silence of alpine lakes. Taste food cooked over fire. Ride where no roads go.
Whether you're seeking peace or awe — you’ll find both here.</div>
        </div>
        <br>
        <a href="{% url 'trips' %}" class="btn btn-md btn-primary btn-line">Check All Destinations</a>
      </div>
    </div>
  </div>


<section>
    <div class="main-title">
      <h1>Our reviews</h1>
      <p>Number of boxed can be defined through owl carousel.</p>
    </div>
    <div class="testimonial boxed" id="testimonial2">
      {% for i in reviews %}
      <div>
        <img src="{{ i.image.url }}" alt="" class="avatar">
        <div class="name">{{ i.full_name }}</div>
        <div>{{ i.country }}</div>
        <div class="rating">
          {% for j in "12345" %}
            {% if j|floatformat:0 <= i.reiting|floatformat:0 %}
              <span class="icon-star"></span>
            {% else %}
              <span class="icon-star-empty"></span>
            {% endif %}
          {% endfor %}
        </div>
        <p>{{ i.content }}</p>
      </div>
      {% endfor %}
    </div>
  </section>
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="contact-page-2">

        <div class="feature-box">
          <div class="text-center">
            <div class="circle-icon"><span class="icon-locate"></span>
            </div>
            <div class="contact-desc">
              <h4>Bishkek, Chuy, Kyrgyzstan</h4>
              <h4>+996 502 888 001</h4>
              <h4>yurthorizon@gmail.com</h4>
            </div>
          </div>

          <br>
          <hr>
          <br>

          <form method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
              {% endfor %}
            {% endif %}

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Full Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Message</label>
                  <textarea name="message" class="form-control" placeholder="Your Message" required></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary hvr-sweep-to-right">Submit</button>
              </div>
            </div>
          </form>



        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
<!--  <div class="counter-div base boxed">-->
<!--    <div class="clearfix">-->
<!--      <div class="col-sm-6 col-md-3 light">-->
<!--        <span class="icon-font icon-tent"></span>-->
<!--        <span class="counter">32</span>-->
<!--        <p>Number of People Camped</p>-->
<!--      </div>-->
<!--      <div class="col-sm-6 col-md-3 dark">-->
<!--        <span class="icon-font icon-camera"></span>-->
<!--        <span class="counter">12437</span>-->
<!--        <p>Pictures Taken this Year</p>-->
<!--      </div>-->
<!--      <div class="col-sm-6 col-md-3 light">-->
<!--        <span class="icon-font icon-sun"></span>-->
<!--        <span class="counter">35</span>-->
<!--        <p>Average Temprature</p>-->
<!--      </div>-->
<!--      <div class="col-sm-6 col-md-3 dark">-->
<!--        <span class="icon-font icon-umbrella"></span>-->
<!--        <span class="counter">45</span>-->
<!--        <p>Rainfall Last Year</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



<!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37319.30096857599!2d-111.50394094053527!3d44.81298564157587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5351e55555555555%3A0xaca8f930348fe1bb!2sYellowstone+National+Park!5e0!3m2!1sen!2snp!4v1493435077252"-->
<!--  style="width: 100%; border:0" height="450" allowfullscreen></iframe>-->
{% endblock %}
{% block js %}
<script src="{% static 'assets/js/min/index.min.js' %}"></script>
<script src="{% static 'assets/js/min/home.min.js' %}"></script>
{% endblock %}