{% extends 'base.html' %}
{% load i18n %}
{% block title %}
Yurt Horizon
{% endblock %}
{% load static %}
{% block content %}
  <div class="page-img" style="background-image: url('{{ about.image_trip.url }}'); padding-top: 200px;">
    <div class="container">
      <div class="col-sm-8">
        <h1 class="main-head">Trip List</h1>
        <h5 class="sub-head">Two Column Grid Listing with Sidebar</h5>
      </div>
      <div class="col-sm-4">
        <ul class="breadcrumb">
          <li><a href=""><span class="icon-home"></span></a>
          </li>
          <li><a href="">List</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <main>
    <div class="container">
      <div class="row">
<!--        <div class="col-sm-4">-->

<!--          <form method="get" action="{% url 'trips' %}">-->
<!--            <div class="sidebar">-->

<!--              &lt;!&ndash; Search Field &ndash;&gt;-->
<!--              <div class="border-box">-->
<!--                <div class="box-title">Tour Search</div>-->
<!--                <div class="input-group">-->
<!--                  <input type="text" name="search" class="form-control" placeholder="Search Site" value="{{ request.GET.search }}">-->
<!--                  <div class="input-group-btn">-->
<!--                    <button class="btn btn-primary">Search</button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--              &lt;!&ndash; Country / Region &ndash;&gt;-->
<!--              <div class="border-box">-->
<!--                <div class="box-title">Choose Country</div>-->
<!--                <select name="oblasti" class="form-control selectpicker">-->
<!--                  <option value="">Choose</option>-->
<!--                  {% for tour in trips %}-->
<!--                    {% if tour.oblasti %}-->
<!--                      <option value="{{ tour.oblasti }}" {% if request.GET.oblasti == tour.oblasti %}selected{% endif %}>{{ tour.oblasti }}</option>-->
<!--                    {% endif %}-->
<!--                  {% endfor %}-->
<!--                </select>-->
<!--              </div>-->

<!--              &lt;!&ndash; Difficulty &ndash;&gt;-->
<!--              <div class="border-box">-->
<!--                <div class="box-title">Difficulty</div>-->
<!--                <div class="btn-group" data-toggle="buttons">-->
<!--                  {% for level in levels %}-->
<!--                    <label class="btn btn-default {% if request.GET.level == level %}active{% endif %}" data-toggle="tooltip" title="{{ level|capfirst }}">-->
<!--                      <input type="radio" name="level" value="{{ level }}" {% if request.GET.level == level %}checked{% endif %}>-->
<!--                      <span class="icon-{{ level }}"></span>-->
<!--                    </label>-->
<!--                  {% endfor %}-->
<!--                </div>-->
<!--              </div>-->

<!--              &lt;!&ndash; Price (you'll need JS to bind min/max values to hidden fields) &ndash;&gt;-->
<!--              <div class="border-box">-->
<!--                <div class="box-title">Price Range</div>-->
<!--                <div class="price-widget">-->
<!--                  <input type="hidden" name="price__gte" id="min_price" value="{{ request.GET.price__gte }}">-->
<!--                  <input type="hidden" name="price__lte" id="max_price" value="{{ request.GET.price__lte }}">-->
<!--                  <div id="price-slider"></div>-->
<!--                  <div id="amount-min" class="pull-left">{{ request.GET.price__gte }}</div>-->
<!--                  <div id="amount-max" class="pull-right">{{ request.GET.price__lte }}</div>-->
<!--                </div>-->
<!--              </div>-->



<!--              &lt;!&ndash; Duration &ndash;&gt;-->
<!--              <div class="border-box">-->
<!--                <div class="box-title">Duration</div>-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                      <label>Days</label>-->
<!--                      <select name="days" class="form-control selectpicker">-->
<!--                        <option value="">All</option>-->
<!--                        {% for i in numbers %}-->
<!--                          <option value="{{ i }}" {% if request.GET.days == i %}selected{% endif %}>{{ i }}</option>-->
<!--                        {% endfor %}-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                      <label>Nights</label>-->
<!--                      <select name="nights" class="form-control selectpicker">-->
<!--                        <option value="">All</option>-->
<!--                        {% for i in numbers %}-->
<!--                          <option value="{{ i }}" {% if request.GET.nights == i %}selected{% endif %}>{{ i }}</option>-->
<!--                        {% endfor %}-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="border-box text-center mt-4">-->
<!--                <button type="submit" class="btn btn-primary">Apply Filters</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->





<!--        </div>-->

        <div class="">
          <div class="sort-wrap">
<!--            <div class="sort-title">20 Matching Result</div>-->
            <div class="toogle-view">
              <a href="trip_list.html" class="icon icon-list"></a>
              <a href="trip_grid_withsidebar.html" class="icon icon-grid active"></a>
            </div>
          </div>
          <div class="row item">
            {% for i in trips %}
            <div class="col-sm-12 col-md-6">
              <div class="item-grid">
                <div class="item-img" style="background-image: url('{{ i.image.url }}'); background-size: cover; background-position: center;">
                  <div class="item-overlay">
                    <a href="{% url 'trip_detail' i.pk %}"><span class="icon-binocular"></span></a>
                  </div>
                </div>
                <div class="item-desc">
                  <div class="item-info">
                    {% if i.level == 'Easy' %}
                    <span class="icon-easy"></span>
                    {% elif i.level == 'Medium' %}
                    <span class="icon-medium"></span>
                    {% elif i.level == 'Hard' %}
                    <span class="icon-hard"></span>
                    {% else %}
                    <span class="icon-extreme"></span>
                    {% endif %}
                    <h4 class="title"><a href="{% url 'trip_detail' i.pk %}">{{ i.title }}</a></h4>
                  </div>

                  <div class="sub-title">
                    <span class="location">{{ i.oblasti }}</span>
                    <span class="grade">{{ i.level }}</span>
                  </div>

                  <div class="item-detail">
                    <div class="left">
                      <div class="day"><span class="icon-sun"></span>{{ i.days }}</div>
                      <div class="night"><span class="icon-moon"></span>{{ i.nights }}</div>
                    </div>
                    <div class="right">
                      <div class="price">{{ i.price }}</div>
                      <a href="{% url 'trip_detail' i.pk %}" class="btn btn-primary hvr-sweep-to-right">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
          <div class="pagination-wrap">
            <span class="total">Total {{ page_obj.paginator.count }}</span>
            <nav class="pull-right">
              <ul class="pagination">

                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">First</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">‹</a>
                  </li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">First</span></li>
                  <li class="page-item disabled"><span class="page-link">‹</span></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                  {% if num == page_obj.number %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                  {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                  {% elif num == 1 or num == page_obj.paginator.num_pages %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                  {% elif num == page_obj.number|add:'-3' or num == page_obj.number|add:'3' %}
                    <li class="page-item"><span class="page-link">..</span></li>
                  {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">›</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">Last</a>
                  </li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">›</span></li>
                  <li class="page-item disabled"><span class="page-link">Last</span></li>
                {% endif %}

              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>



        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block js %}
<script src="{% static 'assets/js/min/priceslider.min.js' %}"></script>
{% endblock %}
